@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
:root {
  --Softred: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Darkcyan: hsl(167, 40%, 24%);
  --Darkblue: hsl(198, 62%, 26%);
  --Darkcyan: hsl(168, 34%, 41%);
  --Verydarkblue: hsl(212, 27%, 19%);
  --Verydarkgrayishblue: hsl(213, 9%, 39%);
  --grayishblue: hsl(232, 10%, 55%);
  --Grayishblue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0%;
  margin: 0%;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  list-style-type: none;
  font-family: "Barlow", serif;
}
html {
  font-size: 62.5%;
}
/* home page */
.banner {
  height: 100vh;
  background-image: url(/img/desktop/image-header.jpg);
  background-position: center bottom;
  background-size: cover;
  object-fit: cover;
}

.banner .header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.banner .header .nav {
  color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.banner .header .nav span {
  margin-right: 2.5rem;
}
.banner .header .nav .contact {
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  padding: 0.7rem 1.7rem;
  border-radius: 1.4rem;
  font-weight: bold;
}
.banner .header .nav .contact:hover {
  transition: 0.3s linear;
  background-color: rgb(140, 211, 235);
  color: antiquewhite;
}
.banner .home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 7.5rem;
}
.banner .home .text {
  font-size: 3rem;
  color: whitesmoke;
  font-weight: bold;
}
.banner .home .arrow {
  margin-top: 2rem;
}
/* about page */
.about {
  display: flex;
  height: 30rem;
}
.about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .textcontainer {
  width: 50%;
  line-height: 1.5rem;
}

.about .textcontainer h1,
h3 {
  margin: 1.5rem 0;
}
.about .txt1 {
  border-bottom: 4px solid var(--Yellow);
  width: 30%;
  border-radius: 01.5rem;
}
.about .txt2 {
  border-bottom: 4px solid var(--Softred);
  width: 30%;
  border-radius: 01.5rem;
}
.left,
.right {
  flex: 1;
}
.left {
  padding: 10rem 8rem;
}
/* service page */
.services {
  height: 30rem;
  display: flex;
}
.services .box1 {
  background-image: url(/img/desktop/image-graphic-design.jpg);
  background-size: cover;
  width: 100%;
}
.services .box2 {
  background-image: url(/img/desktop/image-photography.jpg);
  background-size: cover;
  width: 100%;
}
.services .boxcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding-top: 12rem;
  padding-left: 10rem;
  padding-right: 10rem;
  line-height: 1.5rem;
}
.services h2 {
  margin-top: 6rem;
  margin-bottom: 1.5rem;
}
/* testimonials page */
.testimonials {
  text-align: center;
  background-color: var(--White);
}
.testimonials .testimonialscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.testimonials .testimonialscontainer .clients {
  width: 20rem;
  line-height: 1.5rem;
  margin: 0 1.5rem;
}
.testimonials .testimonialscontainer .clients img {
  border-radius: 50%;
  height: 5rem;
  margin-bottom: 3rem;
}
.testimonials .testimonialscontainer .clients p {
  margin-bottom: 3rem;
}
.testimonials .testimonialscontainer .clients h2 {
  margin-bottom: 0.5rem;
}
.testimonials .heading {
  margin-top: 10rem;
}
