@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
:root {
  --Softred: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Darkcyan: hsl(167, 40%, 24%);
  --Darkblue: hsl(198, 62%, 26%);
  --Darkcyan: hsl(168, 34%, 41%);
  --Verydarkblue: hsl(212, 27%, 19%);
  --Verydarkgrayishblue: hsl(213, 9%, 39%);
  --grayishblue: hsl(232, 10%, 55%);
  --Grayishblue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0%;
  margin: 0%;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  list-style-type: none;
}
html {
  font-size: 65.5%;
}
/* home page */
.banner {
  height: 100vh;
  background-image: url(/img/desktop/image-header.jpg);
  background-position: center bottom;
  background-size: cover;
  object-fit: cover;
}

.banner .header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.banner .header .nav {
  color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.banner .header .nav span {
  margin-right: 2.5rem;
}
.banner .header .nav .contact {
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  padding: 0.7rem 1.7rem;
  border-radius: 1.4rem;
  font-weight: bold;
}
.banner .header .nav .contact:hover {
  transition: 0.3s linear;
  background-color: rgb(140, 211, 235);
  color: antiquewhite;
}
.banner .home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 7.5rem;
}
.banner .home .text {
  font-size: 3rem;
  color: whitesmoke;
  font-weight: bold;
}
.banner .home .arrow {
  margin-top: 2rem;
}
/* about page */
.about {
  display: flex;
  height: 30rem;
}
.about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .textcontainer {
  width: 50%;
}
.left,
.right {
  flex: 1;
}
.left {
  padding: 10rem 8rem;
}
